#cy{
  width: 80vw;
  height: 100vh;
  position: absolute;
  x: 0;
  y: 0;
}
#side{
  width: 20vw;
  height: 100vh;
  float: right;
  background-color: RGB(40, 40, 60);
}

#hSide{
  color: RGB(235, 235, 235);
  margin-left: 8px;
}

.scroll{
  overflow-y: scroll;
}

.panel-side{
  margin: 0px 8px 4px 8px;
}

.field-side{
  width: 100%;
  margin: 0px 0px 5px 0px;
}
